<main class="container">
    <div class="card bg-dark text-white"> 
        <img src="https://images.unsplash.com/photo-1492560704044-e15259ca1c61?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=00f26124312f1f7312be50dc191cd7f5&auto=format&fit=crop&w=1950&q=80" alt="record needle & record" class="img-fluid card-img" style="max-width: 100%; height: auto;">
        <div class="card-img-overlay text-center">
            <a href="/articles/"><button type="button" class="btn btn-lg btn-outline-secondary">Enter Scraped Pi</button></a>
            <p class="text-secondary mt-5 ml-5">Posts from /r/raspberry-pi/ reddit forum. Save what peaks your interest. Leave notes to inform your projects.</p>
        </div>
    </div>
<main>